body {
    height: 100vh;
    display: flex;
    flex-direction:column;
    margin:0px;
}
div{
    padding: 4px 150px; 
}
.left-side,.right-side,.logo,.image-holder,.text{
    padding: 0px;
}

.text {
    padding-bottom: 50px;
}
.text>p {
    margin: 0px;
}
.awesome-text > .image-holder{
    height:156.48px ;
    width: 50%;
}
.image-holder > img {
    height: 157px;
    width: 900px;
}

.header {
    display: flex;
    justify-content:space-between;
    height: 6%;
    background-color: #1f2937;
    color:#f9faf8;    
    font-size: 24px;
}

.footer{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
    color:#f9faf8;
}
ul{
    padding:0px;
    margin: 0px;
    display: flex;
    gap:20px;
}
li{
    padding:0px;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
   }
a{
    text-decoration: none;
    color:#e5e7eb;
}

.awesome-text,.random-info,.quote,.action {
    height: 25%;
}

.awesome-text> .text {
    font-size: 48px;
    font-weight:900;
    color:#f9faf8;
    width: 50%;
    
}

div.text > p {
    font-size: 18px;
    color:#e5e7eb;
    font-weight: normal;
}

.awesome-text{
    background-color: #1f2937;
    display: flex;
    
}
.awesome-text > .image-holder{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f9faf8;
}

button {
    background-color:#3882f6;
    color:#f9faf8;
    border-color: #f9faf8;
    border-radius: 8px;
    padding:5px 20px;
    flex-shrink: 0;
}

.text>button {
    border:none;
}

.quote {    
    background-color: #e5e7eb;
    font-size: 36px;
    color:#1f2937;
    font-style: oblique 5deg;
    font-weight:100;
}
.quote > p {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    text-align: end;
}
.action {
    display: flex;
    align-items: center;
    padding:0px;
    justify-content: center;
}
.action-text {
    display: flex;
    background-color:#3882f6;
    color:#f9faf8;
    width: 50%;
    padding: 20px 50px;
    border-radius: 8px;
    justify-content: space-between;
}

.action-text>div {
    font-weight: 700;
    
}

.action-text>div>p{
    margin: 0px;
    font-size:11px;
    font-weight: 100;
        
}
.action-text>button {
    font-weight: 100;
    font-size: 11px;
    padding: 0px;
    border: 1px solid #f9faf8 ;
    height: 25px;
    width: 75px;    
    align-self: center;
}

.random-info {
    text-align: center;
    padding: 0px;  
    flex-shrink: 0;
}
.random-info>div,div.image-subtext,.random-info>div>div {
    padding: 0px;
}
.random-headline {
    font-size: 30px;  
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

div.image> img {
    border:3px solid #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
}

div.image-subtext {
    display: flex;
    justify-content: center;
    
    
}
div.image-subtext > div {
    width: 200px;
    height: 100px;
}